@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: $gray-light;
  a {
    color: gray;
    &:hover {
      color: black;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
