<div class="container">
  <footer class="footer">
  
  <small>
    A learning experience by <a href="http://www.launchspider.com/">LaunchSpider</a>
    
  </small>
  <nav>
    
  </nav>

 </footer>
</div>